.LandingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  overflow-x: hidden;
}

.containerItem {
  width: 100%;
}

.topContainer {
  background-color: #1876D1;
  border-radius: 10px;
  border: 10px solid #1876D1;
  color: white;
  padding: 20px;
  text-align: center;
  z-index: -1;
}

.topContainer h1 {
  font-size: 40px;
  margin: 0;
}

.descriptionContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.leftContainer,
.rightContainer {
  background-color: #1876D1;
  border-radius: 10px;
  border: 10px solid white;
  padding: 20px;
  box-sizing: border-box;
  color: white;
  width: 600px;
}

.rightContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottomContainer {
  background-color: #1876D1;
  border-radius: 10px;
  border: 10px solid #1876D1;
  color: white;
  padding: 20px;
  text-align: center;
  width: 1200px;
  padding: 0px;
  margin-top: 0px;
}

.textLine {
  height: 10px;
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  display: flex;
  align-items: center;
  margin-top: 90px;
  margin-bottom: 100px;
}

.textLine h2 {
  font-size: 30px;
  margin: 0;
}

@media (max-width: 1200px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .leftContainer,
  .rightContainer {
    width: 80%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .bottomContainer {
    width: 600px;
    padding: 20px 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
  }

  .bottomText {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
  }

  .videoContainer {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    width: 100%;
  }

  .videoContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .leftContainer h2 {
    font-size: 22px;
  }

  .descriptionContainer {
    grid-template-columns: 1fr;
  }
}


@media (max-width: 615px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .leftContainer,
  .rightContainer {
    width: 100%;
    margin-bottom: 20px;
    margin-left: 0;
  }

  .bottomContainer {
    width: 400px;
  }

  .videoContainer {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    width: 100%;
  }

  .videoContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

    .bottomText {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
  }

  .leftContainer h2 {
    font-size: 18px;
  }
}
